;切换训练模式
modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "lv_relay"
	}
	insert:
    {
		"OnSpawn" "lv_counterSetValue20.021"
	}
}
;自动结束
add:
{
    "classname" "game_round_end"
    "targetname" "round_end"
}
modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "diff_practice"
	}
	insert:
	{
		"OnTrigger" "round_endEndRound_Draw76.7-1"
	}
}
;提示
modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	insert:
	{
        "OnMapSpawn" "ScommandCommandsay ** 自动训练模式切换 **2-1"
	}
}
